script(type='text/javascript', src='/lib/jquery/jquery.js')

//Google Maps
//[TODO]this should really be loaded only for the registrations view...
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCJKZm-rRtfREo2o-GNC-feqpbSvfHNB5s&libraries=geometry')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/filters.js')

//Application Directives
script(type='text/javascript', src='/js/directives/navbar.js')
script(type='text/javascript', src='/js/directives/registrationsMap.js')
script(type='text/javascript', src='/js/directives/streetview.js')

//Application Services
script(type='text/javascript', src='/js/services/Address.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/issues.js')
script(type='text/javascript', src='/js/controllers/registrations.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/init.js')
