<!-- <section data-ng-controller="IndexController"> -->
<section>
  <div class="jumbotron">
    <div class="main">

      <div data-ng-show="taxinfo">
        <h3>Property Tax Information</h3>
        <div><b>Last Assessment Year</b> {{taxinfo.YEAR}}</div>
        <div><b>Block Number</b> {{taxinfo.BLOCK}}</div>
        <div><b>Lot Number</b> {{taxinfo.LOT}}</div>
        <div><b>Tax Class</b> {{taxinfo.TAXCLASS}}</div>
        <div><b>Market Value</b> ${{taxinfo.FULLVAL | number }}</div>
        <div data-ng-show="taxinfo.AVLAND"><b>Actual Land Value</b> ${{taxinfo.AVLAND | number }}</div>
        <div data-ng-show="taxinfo.AVTOT"><b>Actual Total Value</b> ${{taxinfo.AVLAND | number }}</div>
        <div><b>Registered Property Owner</b> {{taxinfo.OWNER}}</div>
      </div>  
         
      <div data-ng-show="owners">
        <h3>Registered Owners</h3>
        <table class="table">
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Business Address</th>
          </tr>
          <tr data-ng-repeat="owner in owners" >
            <td>{{ owner.type }}</td>
            <td>{{ owner.type == "CorporateOwner" ? owner.corporationname : owner.firstname + ' ' + owner.lastname }}</td>
            <td data-ng-click="selectOwner(owner)">{{ owner.businesshousenumber + ' ' + owner.businessstreetname + ' #' + owner.businessapartment + ' ' + owner.businesscity + ' ' + owner.businesszip }}</td>
          </tr>
        </table>
      </div>

      <div data-ng-show="otherBuildings">
        <h3>Other properties <i>likely</i> registered by this owner ({{ otherBuildings.length }} properties)</h3>
      </div>

      <registrations-map owner="selectedOwner" buildings="otherBuildings"></registrations-map>

    </div>
  </div>  
</section>
<!-- <script type="text/javascript-lazy" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwGBCr666OkgCODVFLwUZhwT9W9qLEHFo"></script> -->
 <!-- <lazy-load></lazy-load> -->